@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Custom Scrollbar (Optional but looks good) --- */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  /* Slate-300 */
  border-radius: 20px;
}


.animate-slideInDown {
  animation: slideInDown 0.4s ease-out forwards;
}

.animate-progressBar {
  animation: progressBar 3s linear forwards;
}

/* --- Animations --- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes progressBar {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* --- Base Styles --- */
body {
  @apply bg-slate-50 text-slate-900;
}